<footer class="footer">
  <small>
     <a href="https://trip.vn/">Conect me to book a trip</a>
    by <a href="#">Nguyen Xuan Son</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Trip",   about_path %></li>
      <li><%= link_to "Comunity", contact_path %></li>
      <li><a href="Trip.vn">News</a></li>
    </ul>
  </nav>
</footer>